﻿@model NewsWebsite.Models.TeamMember

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>

    <h4>TeamMember</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="File" class="form-control" type="file"/>
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="JobTitle" class="control-label"></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
               <div class="form-group">
                    <button type="submit" class="btn btn-primary mr-2">
                        <i class="bi bi-check2"></i>
                          Save
                    </button>
                    <a asp-action="Index" class="btn btn-dark">
                        <i class="bi bi-arrow-return-left"></i>
                        Back to List</a>
                </div>
            </form>
        </div>
    </div>

  
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
