﻿@model NewsWebsite.Models.TeamMember

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>TeamMember</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class = "col-sm-10">
                <img src="~/Images/@Model.Image" width="175px" height="175px"/>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger" >
                <i class="bi bi-trash3"></i>
                Delete
            </button>
            <a asp-action="Index" class="btn btn-dark">
                <i class="bi bi-arrow-return-left"></i>
                Back to List
            </a>
        </form>
    </div>
</div>