﻿@model NewsWebsite.Models.TeamMember

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1>Details</h1>

    <div>
        <h4>TeamMember</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class = "col-sm-10">
                <img src="~/Images/@Model.Image" width="175px" height="175px"/>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.JobTitle)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.JobTitle)
            </dd>
        </dl>
    </div>
    <div>
         <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">
            <i class="bi bi-pencil"></i>
            Edit
        </a> 
        <a asp-action="Index" class="btn btn-dark">
            <i class="bi bi-arrow-return-left"></i>
            Back to List
        </a>
    </div>
</div>