﻿@model IEnumerable<NewsWebsite.Models.TeamMember>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <h1>Index</h1>

    <p>
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-square"></i>
            Create New
        </a>
    </p>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model) 
            {
                    <tr>
                        <td>
                            <img src="~/Images/@item.Image" width="175px" height="175px"/>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.JobTitle)
                        </td>
                        <td style="width: fit-content">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">
                                <i class="bi bi-pencil"></i>
                                Edit
                            </a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">
                                <i class="bi bi-file-text"></i>
                                Details
                            </a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">
                                <i class="bi bi-trash"></i>
                                Delete
                            </a>
                        </td>
                    </tr>
            }
        </tbody>
    </table>
</div>