﻿@model List<UserRolesVm>

@{
    ViewData["Title"] = "Manage Roles";
}

<table class="table table-bordered">
    <thead class="table-dark">
        <td>user name</td>
        <td>Email</td>
        <td>Roles</td>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.User.UserName</td>
                <td>@item.User.Email</td>
                <td>
                    @foreach (var role in ViewBag.Roles)
                    {
                        if (item.Roles.Contains(role.ToString()))
                        {
                            <a class="btn btn-primary" href="AddRemoveRole/@item.User.Id/@role">@role</a>
                        }
                        else
                        {
                            <a class="btn btn-outline-primary" href="AddRemoveRole/@item.User.Id/@role">@role</a>
                        }
                    
                    }
                </td>
            </tr>
        }
    </tbody>
</table>