﻿@using NewsWebsite.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <li>
       <a  class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                Manage Account
       </a>
    </li>
    <li >
        <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="appointment-btn scrollto">  Logout </button>
        </form>
    </li>
}
else
{
   <li> 
        <a href="/Identity/Account/Register" class="nav-link scrollto"><span class="d-none d-md-inline">Register</span></a>
   </li>  
   <li>
        <a href="/Identity/Account/Login"  class="nav-link scrollto" >Login</a>
   </li>
 
}

