﻿@model CreateUserVm

@{
    ViewData["Title"] = "Create User";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form id="registerForm" method="post" asp-action="Create" >
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-4">
                    <label asp-for="FirstName"></label>
                    <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" /> 
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>    
                <div class="form-floating mt-4">
                    <label asp-for="LastName"></label>
                    <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div> 
                <div class="form-floating mt-4">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div> 
                <div class="form-floating mt-4">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-floating mt-4">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
                @for (int i = 0; i < Model.Roles.Count; i++)
                {
                    <div class="form-check">
                        <input type="hidden" asp-for="@Model.Roles[i].RoleName"/>
                        <input class="form-check-input" asp-for="@Model.Roles[i].IsSelected"/>
                        <label class="form-check-label" asp-for="@Model.Roles[i].IsSelected">
                            @Model.Roles[i].RoleName
                        </label>
                    </div>
                }
                <span asp-validation-for="Roles" class="text-danger"></span>
                <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Create</button>
                <button class="btn btn-dark w-100" asp-action="Index">Cancel</button>
            </form>
        </div>
       
      
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}