﻿@model IEnumerable<UsersVm>

@{
    ViewData["Title"] = "Users";
}

<h2>@ViewData["Title"]</h2>

<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create user</a>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Email</td>
                    <td>@string.Join(" , ",user.UserRoles)</td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Edit" asp-route-id="@user.Id">
                            <i class="bi bi-pencil"></i>
                            Edit
                        </a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id"
                            onclick="    return confirm('Are you sure you wont to delete this user');">
                            <i class="bi bi-file-text"></i>
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>