﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="profile-form" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
        
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating mt-4">
                    <input asp-for="Input.FirstName" class="form-control" />
                    <label asp-for="Input.FirstName" class="form-label"></label>
                    <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                </div>
                <div class="form-floating mt-4">
                    <input asp-for="Input.LastName" class="form-control" />
                    <label asp-for="Input.LastName" class="form-label"></label>
                     <span asp-validation-for="Input.LastName" class="text-danger"></span>
                </div>
                <div class="form-floating mt-4">
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <label asp-for="Input.PhoneNumber" class="form-label"></label>
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary mt-4">Save</button>
        
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <img id="picture" alt="Profile Picture" src="data:image/*;base64,@(Convert.ToBase64String(Model.Input.ProfilePicture))" width="225px" height="225px"/>           
                <div class="mb-3">
                    <label for="formFile" class="form-label" asp-for="Input.ProfilePicture"></label>
                    <input class="form-control" type="file" id="formFile" accept="image/*" asp-for="Input.ProfilePicture"
                           onchange="document.getElementById('picture').src=window.URL.createObjectURL(this.files[0])">
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
