﻿@using NewsWebsite.Data
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
       <div class="account-dropdown__item">
           <a  class="nav-link scrollto" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                    Manage Account
           </a>
       </div>
 
   
       <div class="account-dropdown__item">
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button  type="submit" class="appointment-btn scrollto">  Logout </button>
            </form>
       </div>

}


