﻿@model ContactUs




<div class="container" style="margin: 25px 0;">
    <div class="col-sm-7">
        <form asp-action="SaveForm">
            <div class="row">
                <div class="col form-group mt-3">
                    <input asp-for="Name" type="text" class="form-control" placeholder="Your Name" required="">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="col form-group mt-3">
                    <input asp-for="Email" type="email" class="form-control" placeholder="Your Email" required="">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group mt-3">
                <input asp-for="Subject" type="text" class="form-control" placeholder="Subject" required="">
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <textarea asp-for="Message" class="form-control" rows="5" placeholder="Message" required=""></textarea>
            </div>
            
            <div style="margin:25px 0;">
                <button type="submit" class="btn btn-success">Send Message</button>
            </div>
        </form>
    </div>
</div>

<partial name="_ValidationScriptsPartial"/>