﻿@model List<Category>




<section id="featured-services" class="featured-services">
      <div class="container aos-init aos-animate" data-aos="fade-up">
        <div class="row">

            @foreach (var category in Model)
            {
               <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">

                    <a href="/Home/News/@category.Id">
                        <div class="icon-box aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                          <div class="icon"><i class="fas fa-heartbeat"></i></div>
                          <h4 class="title"><a href="/Home/News/@category.Id">@category.Name</a></h4>
                          <p class="description">@category.Description</p>
                        </div>
                    </a>

               </div> 

            }
        
        </div>
      </div>

      
</section>