﻿@model List<News>

<section id="about" class="about">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>@ViewBag.Category.Name</h2>
          <p class="fst-italic" >@ViewBag.Category.Description</p>
        </div>

        @foreach (var news in Model)
        {
             <div class="row">
                  <div class="col-lg-6 aos-init aos-animate" data-aos="fade-right">
                    <img src="~/Images/@news.Image" class="img-fluid" alt="">
                  </div>
                  <div class="col-lg-6 pt-4 pt-lg-0 content aos-init aos-animate" data-aos="fade-left">
                    <h3>@news.Title</h3>
                    <p>@news.Topic</p>
                  </div>
             </div>
             <hr />
        }

      </div>
</section>
