﻿@model List<ContactUs>


<section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Reviews</h2>
          <p> evaluation of a publication, product, service, or company or a critical take on current affairs in literature, politics or culture.</p>
        </div>

            @foreach (var review in Model)
            {
                <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
                   <div class="swiper-slide">
                      <div class="testimonial-item">
                        <p>
                          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                          @review.Message
                          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                        </p>
                        <img src="~/assets/img/testimonials/download.png" class="testimonial-img" alt="">
                        <h3>@review.Name</h3>
                      </div>
                   </div> 
                   <div class="swiper-pagination"></div>
                </div>
            }     

      </div>
</section><!-- End Testimonials Section -->