﻿@model List<TeamMember>

<section id="doctors" class="doctors section-bg">
      <div class="container aos-init aos-animate" data-aos="fade-up">

        <div class="section-title">
          <h2>Team Members</h2>
          <p>Team members help customers find desired goods or services. They answer questions, make purchase recommendations and explain the benefits of the goods or services. Once they have helped customers make a satisfactory selection, they add up the total purchases and complete the transactions.</p>
        </div>
        <div class="row">
            @foreach (var member in Model)
            {
            
                  <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                      <div class="member-img">
                        <img src="~/Images/@member.Image" class="img-fluid" alt="">
                        <div class="social">
                          <a href=""><i class="bi bi-twitter"></i></a>
                          <a href=""><i class="bi bi-facebook"></i></a>
                          <a href=""><i class="bi bi-instagram"></i></a>
                          <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                      </div>
                      <div class="member-info">
                        <h4>@member.Name</h4>
                        <h6>@member.JobTitle</h6>
                      </div>
                    </div>
                  </div>
                
            }
        </div>
      </div>
</section>
