﻿@model NewsWebsite.Models.News

@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <h1>Create</h1>

    <h4>News</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Image" class="control-label"></label>
                    <input asp-for="File" class="form-control" type="file" />
                    <span asp-validation-for="Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Topic" class="control-label"></label>
                    <textarea asp-for="Topic" class="form-control" style="min-height: 150px"></textarea>
                    <span asp-validation-for="Topic" class="text-danger"></span>
                </div>
                <div class="form-group" style="margin-bottom:15px">
                    <label class="control-label">Category Name</label>
                    <select asp-for="CategoryId" class ="form-control" asp-items="ViewBag.CategoryId"></select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary mr-2">
                        <i class="bi bi-check2"></i>
                          Save
                    </button>
                    <a asp-action="Index" class="btn btn-dark">
                        <i class="bi bi-arrow-return-left"></i>
                        Back to List</a>
                </div>
            </form>
        </div>
    </div>

   
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
