﻿@model NewsWebsite.Models.News

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <h1>Delete</h1>

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>News</h4>
        <hr />
        <dl class="row">
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Image)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Image)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Date)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Topic)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Topic)
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Category)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Category.Name)
            </dd>
        </dl>
    
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <button type="submit" class="btn btn-danger" >
                <i class="bi bi-trash3"></i>
                Delete
            </button>
            <a asp-action="Index" class="btn btn-dark">
                <i class="bi bi-arrow-return-left"></i>
                Back to List
            </a>
        </form>
    </div>
</div>