﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="au theme template">
        <meta name="author" content="Hau Nguyen">
        <meta name="keywords" content="au theme template">

        

        <!-- Fontfaces CSS-->
        <link href="~/AdminPanel/css/font-face.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/font-awesome-5/css/fontawesome-all.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">

        <!-- Bootstrap CSS-->
        <link href="~/AdminPanel/vendor/bootstrap-4.1/bootstrap.min.css" rel="stylesheet" media="all">
        <link href="~/assets/js/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

        <!-- ~/AdminPanel/vendor CSS-->
        <link href="~/AdminPanel/vendor/animsition/animsition.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/wow/animate.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/slick/slick.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/select2/select2.min.css" rel="stylesheet" media="all">
        <link href="~/AdminPanel/vendor/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet" media="all">

        <!-- Main CSS-->
        <link href="~/AdminPanel/css/theme.css" rel="stylesheet" media="all">

    </head>

    <body class="animsition" style="animation-duration: 900ms; opacity: 1;">
            <div class="page-wrapper">
                <!-- HEADER MOBILE-->
                <header class="header-mobile d-block d-lg-none">
                    <div class="header-mobile__bar">
                        <div class="container-fluid">
                            <div class="header-mobile-inner">
                                <a class="logo" href="index.html">
                                    <img src="~/AdminPanel/images/icon/logo.png" alt="CoolAdmin">
                                </a>
                                <button class="hamburger hamburger--slider" type="button">
                                    <span class="hamburger-box">
                                        <span class="hamburger-inner"></span>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </div>
                    <nav class="navbar-mobile">
                        <div class="container-fluid">
                            <ul class="navbar-mobile__list list-unstyled">
                                <li>
                                    <a href="/AdminPanel/Categories">
                                        <i class="fas fa-chart-bar"></i>Manage Categories</a>
                                </li>
                                <li>
                                    <a href="/AdminPanel/News">
                                        <i class="fas fa-table"></i>Manage News</a>
                                </li>
                                <li>
                                    <a href="/AdminPanel/TeamMembers">
                                        <i class="far fa-check-square"></i>Manage Team Members</a>
                                </li>
                                <li>
                                    <a asp-controller="TeamMembers" asp-action="UserRoles">
                                        <i class="fas fa-calendar-alt"></i>Manage Roles</a>
                                </li>
                                <li>
                                    <a asp-controller="Users" asp-action="Index">
                                        <i class="fas fa-calendar-alt"></i>Manage Users</a>
                                </li>
                                <li>
                                    <a href="Home/Index">
                                        <i class="fas fa-calendar-alt"></i>Website</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                    </nav>
                </header>
                <!-- END HEADER MOBILE-->

                <!-- MENU SIDEBAR-->
                <aside class="menu-sidebar d-none d-lg-block">
                    <div class="logo">
                        <a href="#">
                            <img src="~/AdminPanel/images/icon/logo.png" alt="Cool Admin">
                        </a>
                    </div>
                    <div class="menu-sidebar__content js-scrollbar1 ps">
                        <nav class="navbar-sidebar">
                            <ul class="list-unstyled navbar__list">
                                <li>
                                    <a href="/AdminPanel/Categories">
                                        <i class="fas fa-chart-bar"></i>Manage Categories</a>
                                </li>
                                <li>
                                    <a href="/AdminPanel/News">
                                        <i class="fas fa-table"></i>Manage News</a>
                                </li>
                                <li>
                                    <a href="/AdminPanel/TeamMembers">
                                        <i class="far fa-check-square"></i>Manage Team Members</a>
                                </li>
                                <li>
                                    <a asp-controller="TeamMembers" asp-action="UserRoles">
                                        <i class="fas fa-calendar-alt"></i>Manage Roles</a>
                                </li>
                                <li>
                                    <a asp-controller="Users" asp-action="Index">
                                        <i class="fas fa-calendar-alt"></i>Manage Users</a>
                                </li>
                                <li class="has-sub">
                                    <a class="js-arrow" href="/Home/Index">
                                        <i class="fas fa-copy"></i>Website</a>
                                </li>
                            </ul>
                        </nav>
                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
                </aside>
                <!-- END MENU SIDEBAR-->

                <!-- PAGE CONTAINER-->
                <div class="page-container">
                    <!-- HEADER DESKTOP-->
                    <header class="header-desktop">
                        <div class="section__content section__content--p30">
                            <div class="container-fluid">
                                <div class="header-wrap d-flex justify-content-end">
                                    <div class="header-button">
                                        <div class="account-wrap ">
                                            <div class="account-item clearfix js-item-menu">
                                                <div class="image">
                                                      <div class="avatar">
                                                        
                                                             <img src="data:image/*;base64,@(Convert.ToBase64String(userManager.GetUserAsync(User).Result.ProfilePicture))" />
                                                        
                                                      </div>
                                                </div>
                                            
                                                <div class="content">
                                                    <a class="js-acc-btn" asp-controller="AdminPanel" asp-action="Index">@userManager.GetUserAsync(User).Result.FirstName</a>
                                                </div>
                                                <div class="account-dropdown js-dropdown">
                                                    <div class="info clearfix">
                                                        <div class="image">
                                                               <img src="data:image/*;base64,@Convert.ToBase64String(userManager.GetUserAsync(User).Result.ProfilePicture)" alt="profile picture">
                                                        </div>
                                                        <div class="content">
                                                            <h5 class="name">
                                                                    @userManager.GetUserAsync(User).Result.FirstName
                                                            </h5>
                                                            <span class="email">
                                                                 @userManager.GetUserAsync(User).Result.Email
                                                            </span>
                                                        </div>
                                                    </div>
                                                    <div class="account-dropdown__body">
                                                        <partial name="_LoginPartial" />
                                                    </div>
                                                    
                                              
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </header>
                    <!-- HEADER DESKTOP-->

                    <!-- MAIN CONTENT-->
                    <div class="main-content">
                            @RenderBody()
                    </div>
                    <!-- END MAIN CONTENT-->
                    <!-- END PAGE CONTAINER-->
                </div>

            </div>

            <!-- Jquery JS-->
            <script src="~/AdminPanel/vendor/jquery-3.2.1.min.js"></script>
            <!-- Bootstrap JS-->
            <script src="~/AdminPanel/vendor/bootstrap-4.1/popper.min.js"></script>
            <script src="~/AdminPanel/vendor/bootstrap-4.1/bootstrap.min.js"></script>
            <!-- ~/AdminPanel/vendor JS       -->
            <script src="~/AdminPanel/vendor/slick/slick.min.js">
            </script>
            <script src="~/AdminPanel/vendor/wow/wow.min.js"></script>
            <script src="~/AdminPanel/vendor/animsition/animsition.min.js"></script>
            <script src="~/AdminPanel/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js">
            </script>
            <script src="~/AdminPanel/vendor/counter-up/jquery.waypoints.min.js"></script>
            <script src="~/AdminPanel/vendor/counter-up/jquery.counterup.min.js">
            </script>
            <script src="~/AdminPanel/vendor/circle-progress/circle-progress.min.js"></script>
            <script src="~/AdminPanel/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
            <script src="~/AdminPanel/vendor/chartjs/Chart.bundle.min.js"></script>
            <script src="~/AdminPanel/vendor/select2/select2.min.js">
            </script>

            <!-- Main JS-->
            <script src="~/AdminPanel/js/main.js"></script>


    </body>
     @RenderSection("Scripts",required:false)
</html>
<!-- end document-->
